body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  background-color: forestgreen;
  width: 100vmin;
  height: 100vmin;
}

.snake {
  background-color: lightgreen;
  border: .25vmin solid black;
  border-radius: 5px;
}

.food {
  background-color: red;
  border: .25vmin solid black;
  border-radius: 5px;
}
